@mixin base-input($bg-color, $border-color, $text-color, $focus-border-color) {
  display: flex;
  align-items: center;
  width: 100%; // 親要素に応じて拡張可能
  // min-width: 140px; // 最小幅を指定
  // max-width: 320px; // 最大幅を指定
  padding: 0.75rem 1.5rem;
  background-color: $bg-color;
  color: $text-color;
  border: 2px solid $border-color;
  border-radius: 8px; // テキストボックス用に少し控えめな丸み
  //font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: $focus-border-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none; // デフォルトのアウトラインを削除
  }

  &::placeholder {
    color: $text-color;
  }
}
