@use '../mixin/responsive';

.button-container {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  grid-template-columns: repeat(2, 1fr); // 初期値は2列
  font-size: 0.75rem;

  @include responsive.responsive(sp) {
    grid-template-columns: repeat(2, 1fr); /* 2列 */

    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
  }

  @include responsive.responsive(tablet) {
    grid-template-columns: repeat(4, 1fr); /* 4列 */

    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  @include responsive.responsive(pc) {
    grid-template-columns: repeat(4, 1fr); /* 4列 */

    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }

  @include responsive.responsive(wide-pc) {
    grid-template-columns: repeat(4, 1fr); /* 4列 */

    font-size: 1.125rem;
    padding: 1rem 1.5rem;
  }
}